!!!html
%head
	%title="My Maps - Access Population and Damage Information"
	= csrf_meta_tags
	= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload'
	%link{ :rel => "stylesheet", :type => "text/css", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :crossorigin => "anonymous" }
	%link{ :href=>'https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css', :rel=>'stylesheet'}
	= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	= javascript_include_tag 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js'

	%body
		.container
			- if user_signed_in?
				.col-xs-12
					.nav.nav-bar
						%ul
							%li="home"
							%li
								=link_to "My Maps", maps_path
							%li
								=link_to "logout", destroy_user_session_path, :method => :delete
			.col-xs-12
				= yield